header {
  height: 200px;
  padding-top: 1.5em;
  background-color:rgb(244, 244, 249);
}

.match-card {
  height: 100%;
  font-size: .9rem;
  margin-top: 2em;
  margin-bottom: 2em;
  border-left: 1px solid rgb(150, 152, 200);
  padding-right: 1em;
  padding-bottom: 10px;
}

.no-match-card {
  height: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  border-left: 1px solid rgb(150, 152, 200);
}

.row {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
}

.row > img {
  padding-right: 0;
  padding-left: 0;
}

.row > div:first-child {
  padding: 0;
}

#games > .row:nth-child(even) {
  background-color: rgb(244, 244, 249);
}

.team > .col-lg-8 {
  font-weight: bold;
}

.logo {
  height: 20px;
}

.match-status {
  padding-bottom: 10px;
  font-weight: bold;
  opacity: .5;
}

.date-year {
  text-align: center;
}

.date-month {
  text-align: center;
}

.date-day {
  text-align:center;
}

.fa-arrow-up, .fa-arrow-down {
  color: rgb(50, 60, 120);
}

.fa-arrow-up:hover, .fa-arrow-down:hover {
  opacity: .5;
}

input {
  width: 4em;
  background-color: rgb(244, 244, 249);
  border: none;
  text-align: center;
}

.away-team {
  margin-top: 10px;
}

.team-score {
  padding: 0;
}

.team-name {
  font-weight: bold;
}

.team {
  padding-left: 0;
}
