header {
  height: 200px;
  padding-top: 1.5em;
  background-color:rgb(244, 244, 249);
}

.match-card {
  height: 100%;
  font-size: .91rem;
  margin: 2em 0 2em 0;
  border-left: 1px solid rgb(150, 152, 200);
  padding: 0 0 1em 0;
}

.no-match-card {
  height: 100%;
  margin: 2em 0 2em 0;
}

.logo {
  height: 20px;
  padding-right: 0;
  padding-left: 0;
}

.row {
  padding: 0 3em 0 4em;
  margin: 0;
}

#games > .row:nth-child(even) {
  background-color: rgb(244, 244, 249);
}

.match-status {
  padding-bottom: 10px;
  font-weight: bold;
  opacity: .5;
}

.date-year, .date-month, .date-day {
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

.date-month input {
  width: 2em;
}

.date-day input {
  width: 2em;
}

input {
  width: 2.5em;
  border: none;
  text-align: center;
  background-color: rgb(244, 244, 249);
}

.fa-angle-down, .fa-angle-up{
  color: rgb(50, 60, 120);
}

.fa-angle-up:hover, .fa-angle-down:hover {
  opacity: .5;
}

.away-team {
  margin-top: 10px;
}

.team-score {
  padding: 0;
}

.team-name {
  font-weight: bold;
  padding-left: 0;
}

.team {
  padding-left: 0;
}

input[disabled] {
  color: black;
}